 .footer {
            padding: 10px 10px 0 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/
            height: 25px;
          font-family: 'Montserrat'; font-size: 1vw;
          text-align: center;
            background: white;
        }



/*
#header {
  padding: 16px 16px 16px 16px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header {
  padding: 10px 10px 10px 10px;
  height:10%;
  position: fixed;
  top: 0;
  background: red;
}
*/

.lgo {
  position: block;
  width: 20%;
  margin: 16px;

}
      body {
    font-family: 'Montserrat';font-size: 3vw;
    margin: 0;
}

      p, h1 {
        padding: 16px;
      }

    .vid {
      width: 98%;
      margin-left: auto;
      margin-right: auto;
      display: block



  }


.image-grid {
  box-sizing: border-box;
  padding: 16px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 225px;
  gap: 16px;
}

.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;

  }}

@media(hover: hover) and (pointer: fine) {
   .hide {
  display: none;
}

      .myDIV:hover {
        color: orange;
      }

.myDIV:hover + .hide {
  display: block;
 }}

.hide{
  padding: 16px;
  font-style: italic;
  color: orange;
}

 .myDIV {
  padding: 16px;
}



.tab1 {

  font-style: italic;
      }
