 #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/ 
            height: 25px;
          font-family: 'Montserrat'; font-size: 16px;
          text-align: center;
            background: white;
        }
      body {
    font-family: 'Montserrat';font-size: 22px;
    margin: 0;
}
      p, h1 {
        padding: 16px;
      }
      .bg, .vid
{
  width: 100%;
  z-index: 0;
  padding: 16px;
   <!-- margin: auto ;
    display: block;-->
  }
      
      .lgo {
         padding: 16px;
      }
      


.image-grid {
  box-sizing: border-box;
  padding: 16px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 225px;
  gap: 16px;
}

.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  
  }}

      .hide {
  display: none;
  padding: 16px;
  font-style: italic;
}
      .myDIV {
  padding: 16px;
}
      .myDIV:hover {
        color: orange;
      }

.myDIV:hover + .hide {
  display: block;
  color: orange;
}
  
.tab1 {
  margin-left: 14px;
  font-style: italic;
 background: #FCFAA6;
  <!--margin-right: auto;-->
 
  
      }
      

